

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26/03/2022, 08:35:38
    Author     : mfer_
*/

.content-tbl{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
    backdrop-filter: blur (20px);
    -webkit-backdrop-filter: blur (10px);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 11rem;
}
 .container-data{
  height: auto;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.3);
  
} 

.main h1{
    font-family: sans-serif;
    color:#7a7a7a;
}

/*-----------linea division en los titulos y headers----------*/
.divider-custom1 {
  margin: 1.25rem 0 1.5rem;
  width: 100%;

}
.divider-custom1 .divider-custom-line {
  width: 100%;
  max-width: 100%;
  height: 0.3rem;
  background-color: #212529;
  border-radius: 1rem;
  border-color: #212529;
}
.divider-custom1 .divider-custom-line:first-child {
  margin-right: 0rem;
}
.divider-custom1 .divider-custom-line:last-child {
  margin-left: 0rem;
}
.divider-custom1 .divider-custom-icon {
  color: #ffc107;
  font-size: 3rem;
}
.divider-custom1.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom1.divider-light .divider-custom-icon {
  color: #fff;
}
.divider-custom {
  margin: 0rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 12rem;
  height: 0.3rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 0rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 0rem;
}
.divider-custom .divider-custom-icon {
  color: #0d6efd;
  font-size: 3rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

/*-----------cards----------*/
/*INICIO DE LAS CARD*/

.container__card{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.card{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.icon i{
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.info__description{
    width: 100%;
    height: 220px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.info__description input{
    margin-top: 20px;
    padding: 10px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description input:hover{
    box-shadow: 1px 1px 30px -5px #20202070;
}


/*COLOR DE LAS CARD*/

.c1:hover .icon{
    background: #DD4B25;
}

.c1 .icon i{
    color: #DD4B25;
}

.c1:hover .icon i{
    color: #fff;
}


.c2:hover .icon{
    background: #146EB0;
}

.c2 .icon i{
    color: #146EB0;
}

.c2:hover .icon i{
    color: #fff;
}


.c3:hover .icon{
    background: #E8B600;
}

.c3 .icon i{
    color: #E8B600;
}

.c3:hover .icon i{
    color: #fff;
}

/*FIN DE LAS CARD*/



/*----------- I T E M S ------------------	--------*/
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(30, 32, 32, 0.8);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  transform: translateY(500%);
  transition: 0.4s ease-out;
  overflow: hidden;
}
.portfolio .portfolio-item:hover .portfolio-item-caption-content {
  transform: translateY(0%);
}

.portfolio-modal .btn-close {
  color: #0d6efd;
  font-size: 1.8rem;
  padding: 5rem;
  
  /*----------- N A V B A R  ------------------	--------*/
  .fondo-navbar {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #212529;
}
  
  #mainNav {
    padding-top: 1.3rem;
    padding-bottom: 1.7rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  /*tamaño de letra y transicion*/
  #mainNav .navbar-brand {
    font-size: 1rem;
    transition: font-size 0.3s;
  }
  /*selector activo*/
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #0d6efd;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #212529;
  }
  /*----fin del selector activo---*/

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

/***************************-navbar estilos-*************************/
#mainNav {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #212529 !important;
  padding-top: 1.3rem;
  padding-bottom: 1.7rem;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}
#mainNav .navbar-brand {
  color: #fff;
  font-size: 1.8em;
  transition: font-size 0.3s;
}
#mainNav .navbar-brand img {
  height: auto;
  width: 2rem;
  padding-bottom: 0.8rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  font-size: 1.2rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0d6efd;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  background: #0d6efd;
}
#mainNav .navbar-toggler {
  font-size: 125%;
  padding: 1rem;
  background-color: #0d6efd;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*shink de la nav*/
#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.5em;
}
/*****fin del shink********/
/*----------------selector activo de la nav----------------*/
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #0d6efd;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #0d6efd;
}
/*****fin del selector activo de la nav*******/


/*pagina flex-box*/
.page-section {
    border: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 1rem;

  }
.container-head{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color:#1c7ed6;
}
.container-head h2{
    color: #1c3454;
}

.info-cliente{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
    backdrop-filter: blur (20px);
    -webkit-backdrop-filter: blur (10px);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
}
